#out {
    margin-top: 5em;
}
#staff { 
    border-collapse: collapse;
    border-width: 0 1px;
    border-color: black;
    border-style: solid;
}
#staffCell {
    height: .4em;
    width: 3em;
    padding: 0;
}
#staff #staffCell span {
    position: absolute;
    font-size: 68px;
    margin-top: -67px;
}
#staff div {
    height: 1px;
    background: black;
}

#parameters{
    display: flex;
    column-gap: 0px;
}

#paramVal{
    flex: 1; 
    padding: 10px;
    border: 0px solid #ccc;
}
#paramDesc{
    flex: 0.15; 
    padding: 16px;
    text-align: right;
    border: 1px solid #ccc;
}
.paramLabel{
    text-align: right;
}
body{
    background-color:rgb(215, 195, 219);
    font-family: Arial, Helvetica, sans-serif;
    color: black
}