body {
    margin:0;
    padding:0;
}
h1 {
    margin: 0;
    padding: 0.5em;
}

#out {
    display: none;
    margin-top: 5em;
    padding: 50px 0px 20px 0px;
    background-color: rgb(104, 109, 115);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);

}
#infoTable {
    margin-left: 1em;

    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(217, 224, 234);
    color: rgb(0, 0, 0);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
#topBar{
    width: 100%;
    height: 4em;
    color: white;
    background-color: rgb(48, 53, 61);
}

#infoTable td{
    padding: 0.5em 1em;
}
#infoTable tr{
    border: 1px solid black;
}
#infoTable td:nth-child(odd){
    background-color: rgb(205, 213, 221);
}

button {
    width: 10em;
    margin: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: rgb(89, 110, 128);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



#staff { 
    border-collapse: collapse;
    border-width: 0 1px;
    border-color: black;
    border-style: solid;
}
#staffCell {
    height: .4em;
    width: 3em;
    padding: 0;
}
#note,#barLine{
    position: absolute;
    font-size: 68px;
    margin-top: -67px;
}
#staff div {
    height: 1px;
    background: black;
}

#parameters{
    display: flex;
    column-gap: 0px;
}

#paramVal{
    flex: 1; 
    padding: 10px;
    border: 0px solid #ccc;
}
#paramDesc{
    flex: 0.15; 
    padding: 16px;
    text-align: right;
    border: 1px solid #ccc;
}
.paramLabel{
    text-align: right;
}
body{
    background-color:rgb(66, 71, 82);
    font-family: Arial, Helvetica, sans-serif;
    color: black
}


.rainbow {
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255,255,255,0.6);

  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );

  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: rainbowMove 20s alternate-reverse infinite;
}

@keyframes rainbowMove {
  0% { background-position: 0%; }
  100% { background-position: 100%; }
}

#timeSig {
    position: absolute;
    margin-top: -7px;
    font-size: 2em;
    color: rgb(0, 0, 0);
}